{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "import",
      {
        "libraryName": "formik-antd",
        "style": true
      },
      "formik-antd"
    ]
  ]
}
